/* Global Styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

:root{
    --red:#e50914;
    --black:#141414;
}

body{
    background: var(--black);
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color:white;
}

/* Header Styles */

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

header .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
}

header .side-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}

header nav a{
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    font-size: 14px;
}

header nav a:hover{
    color: rgba(255,255,255,.70);
    transition: .4s ease-in;
}

header .menu-ativo{
    font-weight: 600;
}

.navbar-fixed-top.scrolled {
    background-color: var(--black) !important;
    transition: background-color 200ms linear;
  }

.side-menu .icon{
    margin-right: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.side-menu .icon img{
    margin-right: 5px;
}

.dropdown ul {
    background-color: rgba(0,0,0,.7);
    position: absolute;
    top: 70px;
    right: 40px;
    list-style: none;
    list-style-type: none;
    padding: 20px;
}

.dropdown ul li{
    margin-bottom: 10px;
    position: relative;
    margin: 10px;
    width: 150px;
    float: none;
    display: flex;
    align-items: center;
}

.dropdown ul li a{
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: white;
} 

.dropdown ul li a:hover{
    border-bottom: 1px solid white;
}

.dropdown .divider{
    content: "";
    border-bottom: 1px solid #808080;
}

.dropdown{
    opacity: 0;
    visibility: hidden;
}

.dropdown.toggle {
    opacity: 1;
    visibility: visible;
} 

.dropdown-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo{
    text-decoration: none;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 10px;
}

/* Nacionais */

.main-nacionais{
    background: url('img/bg/background-nacionais.jpg');
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-nacionais .container {
    margin-top: 3%;
    margin-left: 40px;
}

/* Nacionais Rave Container */

.nacionais-container{
    margin-top: -5%;
    margin-left: 40px;
    margin-right: 40px;
}

/* Internacionais */

.main-internacionais{
    background: url('img/bg/background-internacionais.jpg');
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-internacionais .container {
    margin-top: 3%;
    margin-left: 40px;
}

/* Internacionais Rave Container */

.internacionais-container{
    margin-top: -5%;
    margin-left: 40px;
    margin-right: 40px;
}


/* Bombando */

.main-bombando{
    background: url('img/bg/background-bombando.jpg');
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-bombando .container {
    margin-top: 3%;
    margin-left: 40px;
}

/* Bombando Rave Container */

.bombando-container{
    margin-top: -5%;
    margin-left: 40px;
    margin-right: 40px;
}



/* Main Rave Styles */

.main-rave{
    background: url('img/bg/background-main.png');
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-rave .container {
    margin-top: 3%;
    margin-left: 40px;
}

.description {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 1.5em;
    line-height: 34px;
    text-shadow: 0 1px 3px rgb(0 0 0 / 80%);
}

.btn-watch {
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 10px;
    color: black;
    padding: 15px 50px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
    transition: .3s ease all;
}

.btn-watch a{
    text-decoration: none;
    color: black;
}

.btn-watch:hover{
    background-color: rgba(255,255,255,.80);
}

.btn-info {
    cursor: pointer;
    background-color: rgba(229,229,229,.30);
    border: none;
    color: #e5e5e5;
    border-radius: 10px;
    padding: 15px 50px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
    transition: .3s ease all;
}

.btn-info a{
    text-decoration: none;
    color: #e5e5e5;
}

.btn-info:hover{
    background-color: rgba(229,229,229,.1);
    color: white;
}

.btn-watch i, .btn-info i{
    margin-right: 20px;
}

/* Raves Container */

.raves-container{
    margin-top: -7%;
    margin-left: 40px;
    margin-right: 40px;
}

.raves-container h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.raves-container a {
    text-decoration: none;
    font-size: 1em;
    color: #e5e5e5;
}

.raves-container a:hover {
    color: white;
}



/* Rave Carousel */

.box-rave{
    height: 100%;
    width: 100%;
    display: block;
}

.carousel-raves{
    margin-bottom: 40px;
}

/* Main Landing */

.logo-landing{
    text-decoration: none;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 10px;
}

.main-landing h1{
    text-align: center;
    font-size: 3.5em;
    margin-bottom: 40px;
    margin-top: 10%;
}

.main-landing a{
    text-decoration: none;
    font-size: 1.5em;
    color: #808080;
}

.main-landing a:hover{
    color: white;
}

.main-landing a i:hover{
    color: white;
}

.main-landing h5{
    text-align: center;
    margin-top: 15px;
}

.user{
    margin-right: 20px;
}

.users-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer */

.copy{
    text-align: center;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.copy a{
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
}

.copy a:hover{
    color: #e4fe00;
}

/* Responsive Styles */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    header .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header .menu {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
    }
    
    header .side-menu{
      position: absolute;
      top:-10;
      right: -60px;
    }
    
    header nav a{
     font-size: 14px;
    }

    .main-rave .container{
        margin-top: 15%;
    }

   .main-rave .container img{
        width: 60%;
   }

   .main-nacionais .container{
    margin-top: 15%;
    }

    .main-nacionais .container img{
        width: 60%;
    }

    .main-internacionais .container{
        margin-top: 15%;
    }

    .main-internacionais .container img{
        width: 60%;
    }

    .main-bombando .container{
        margin-top: 15%;
    }

    .main-bombando .container img{
        width: 30%;
    }

   .description{
       font-size: 16px;
   }

   .btn-info, .btn-watch{
       margin-bottom: 20px;
   }

   .raves-container{
    margin-top: -15%;
   }

    .logo-landing{
        position: absolute;
        left: 0;
    }
    
    .main-landing h1{
        font-size: 2.0em;
        margin-top: 45%;
    }
    
    .user img{
        width: 100px;
        height: 100px;
    }

    .user a span i{
        font-size: 4.5em;
        margin-left: 15px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .btn{
        margin-top: 5px;
        width: 300px;
    }

    header .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header .menu {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
    }
    
    header .side-menu{
      position: absolute;
      top:-10;
      right: -60px;
    }
    
    header nav a{
     font-size: 14px;
    }

    .main-rave .container{
        margin-top: 15%;
    }

   .main-rave .container img{
        width: 60%;
   }

   .main-nacionais .container{
    margin-top: 15%;
    }

    .main-nacionais .container img{
        width: 60%;
    }

    .main-internacionais .container{
        margin-top: 15%;
    }

    .main-internacionais .container img{
        width: 60%;
    }

    .main-bombando .container{
        margin-top: 15%;
    }

    .main-bombando .container img{
        width: 30%;
    }

   .description{
       font-size: 16px;
   }

   .btn-info, .btn-watch{
       margin-bottom: 20px;
   }

   .raves-container{
    margin-top: -15%;
   }

    .logo-landing{
        position: absolute;
        left: 0;
    }
    
    .main-landing h1{
        font-size: 2.0em;
        margin-top: 45%;
    }
    
    .user img{
        width: 100px;
        height: 100px;
    }

    .user a span i{
        font-size: 4.5em;
        margin-left: 15px;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .main-landing h1{
        font-size: 2.0em;
        margin-top: 35%;
    }

    .description{
        font-size: 16px;
    }
 
    .main-internacionais .container img{
        width: 60%;
    }

    .main-rave .container img{
        width: 60%;
   }

   .main-bombando .container img{
            width: 30%;
    }
        
    .main-nacionais .container img{
        width: 60%;
    }

   
    .user img{
        width: 130px;
        height: 130px;
    }

    .user a span i{
        font-size: 5.5em;
        margin-left: 15px;
    }

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .description{
        width: 60%;
    }

    .main-landing h1{
        font-size: 2.0em;
        margin-top: 25%;
    }
    

    .user img{
        width: 200px;
        height: 200px;
    }

    .user a span i{
        font-size: 8.5em;
        margin-left: 15px;
    }
}

